.flex-container {
    display: flex;
    width: 100%;
}

.align-vertical {
    height: 50%;
}

.flex50 {
    width: 50%;
}

.flex100 {
    width: 100%;
}

.flex-direction-updown {
    flex-direction: column;
}

.flex-direction-downup {
    flex-direction: column-reverse;
}

.flex-direction-leftright {
    flex-direction: row;
}

.flex-direction-rightleft {
    flex-direction: row-reverse;
}

/* iPhones 6, 7, 8, X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px),
only screen and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3),
only screen and (max-width: 1220px) {     
    .flex-container {
        display: block;
    }

    .flex50 {
        width: 100%;
    }
}
