@font-face {
    font-family: "Scriptina";
    src: url("./fonts/scriptina.regular.ttf")
}

.light-background {
    margin: 0 50px 0;
    background-color: rgba(192, 192, 192, 0.35);
}

body {
    margin: 0;
    background-image: url("../images/selected/background.jpg");
}

/* Start Specific Parallax */

.parallax-img3 {
    background-position-y: 0%;
}

/* End Specific Parallax */


nav {
    margin: 0;
    padding: 20px;
    background-color: #C0C0C0;
    position: fixed;
    width: 100%;
}
nav ul {
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    display: inline;
}

nav ul li {
    display: inline;
    padding-left: 15px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: white;
}

img {
    width: 400px;
}

.grid-row {
    display: flex;
    margin-left: 15%;
}
.grid-item {
    margin: 25px;
    border: 2px solid black;
    width: 150px;
}

.grid-item img {
    width: inherit;
}

.main-header {
    margin: 0 0 75px 0;
    padding: 25px 0 0 0;
    text-align: center;
}

.main-header h1 {
    margin: 0;
    padding: 0;
    font-family: "scriptina";
    font-size: 5em;
}
.main-header h2 {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    top: -25px;    
}

.main-header h3 {
    margin: 0 0 0 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
    font-size: 2em;
    position: relative;
    top: -25px;    
}

.main-header p {
    margin: 0;
    padding: 0;
    font-size: 2.25em;
}

#main-desc {
    margin-top: 5%;
}

#main-desc p:first-child {
    margin-top: 20px;
}
 
.section {
    text-align: center;
    margin: 50px 0;
}

.section h1 {
    font-family: "scriptina";
    font-size: 3em;
    letter-spacing: .15em;
    padding-top: 15px;
}

.section .section-description {
    margin: auto;
    width: 65%;
}

footer {
    background-color: #C0C0C0;
}

.text-story {
   text-align: left;
   font-family: "Playfair Display";
}

.text-story p:first-of-type{
    margin-block-start: 0;
}
