@font-face {
    font-family: "Scriptina";
    src: url("./fonts/scriptina.regular.ttf")
}

.light-background {
    margin: 0 50px 0;
    background-color: rgba(192, 192, 192, 0.35);
}

body {
    margin: 0;
    background-image: url("../images/selected/background.jpg");
}

/* Start Specific Parallax */

.parallax-img3 {
    background-position-y: 0%;
}

/* End Specific Parallax */


nav {
    margin: 0;
    padding: 20px;
    background-color: #C0C0C0;
    position: fixed;
    width: 100%;
}
nav ul {
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    float: right;
    margin: 0 50px;
}

nav ul li {
    display: inline;
    padding-left: 15px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: white;
}

#logo {
    font-family: "Pacifico";
}

img {
    width: 400px;
}

#main-img img {
    width: 600px;
}

.grid {
    display: flex;
}

.grid-row {
    display: inherit;
    margin: 0 auto;
}
.grid-item {
    margin: 25px;
    padding: 10px 20px 0px 20px;
    border: 2px solid black;
    width: 150px;
}

.grid-item a{
    font-family: "Quicksand";
    text-decoration: none;
    color: black;
}

.grid-item img {
    width: 150px;
    height: 150px;    
}

address {
    color: black;
}

.main-header {
    margin: 0 0 75px 0;
    padding: 25px 0 0 0;
    text-align: center;
}

.main-header h1 {
    margin: 0;
    padding: 0;
    font-family: "scriptina";
    font-size: 5em;
}
.main-header h2 {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    top: -25px;    
}

.main-header h3 {
    margin: 0 0 0 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
    font-size: 2em;
    position: relative;
    top: -25px;    
}

.main-header p {
    margin: 0;
    padding: 0;
    font-size: 2.25em;
}

#main-desc {
    margin-top: 5%;
}

#main-desc p:first-child {
    margin-top: 20px;
}
 
.section {
    text-align: center;
    margin: 50px 0;
}

.section h1 {
    font-family: "scriptina";
    font-size: 3em;
    letter-spacing: .15em;
    padding-top: 15px;
}

.section .section-description {
    margin: auto;
    width: 65%;
    font-size: 1.4em;
}

.section-description a {
    text-decoration: none;
}

footer {
    background-color: #a19f9f;
    padding: 25px;
}

.text-story {
   text-align: left;
   font-family: "Playfair Display";
}

.text-story p:first-of-type{
    margin-block-start: 0;
}

/* iPhones 6, 7, 8, X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px),
only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3),
only screen and (max-width: 900px) {   
    * {
        -webkit-text-size-adjust: 100%;  
        /* overflow: hidden; */
    }

    .light-background {
        margin: 0;
        background-color: rgba(192, 192, 192, 0.35);
    }

    .main-header {
        font-size: 1.5em;
    }

    img {
        width: 100%;
        margin: auto;
    }
    
    .section {
        display: block;
    }

    .section .section-title {
        font-family: "Quicksand";
        font-size: 5em;
        text-decoration: underline;
    }
    
    .section .section-description {
        width: 100%;
        padding: 50px 0;
        font-size: 3em;        
        background-color: rgba(192, 192, 192, 0.35);
    }

    .grid-item {
        width: 33%;
    }

    .grid-item img {
        width: 200px;
        height: 200px;
    }

    footer {
        font-size: 3em;
    }
}
