.parallax { 
  /* Set a specific height */
  height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-img1 {
      /* The image used */
  background-image: url("../images/selected/parallax/parallax1.jpg");
}

.parallax-img2 {
      /* The image used */
  background-image: url("../images/selected/parallax/parallax2.jpg");
}

.parallax-img3 {
      /* The image used */
  background-image: url("../images/selected/parallax/parallax3.jpg");
}

.parallax-img4 {
      /* The image used */
  background-image: url("../images/selected/parallax/parallax4.jpg");
}

.parallax-img5 {
  /* The image used */
  background-image: url("../images/selected/parallax/parallax5.jpg");
}

/* iPhones 6, 7, 8, X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px),
only screen and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3),
only screen and (max-width: 1220px) {  
    .parallax {
     display: none;
  }
}
